<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>071DED1225DADD0A00E85AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>071DED2825DADD0B00E85AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>071DED3325DADD0B00E85AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
